:root {
    --main-bg-color: #f8f9fa;
    --text-color: #333;
    --accent-color: #28a745;
    --hover-bg-color: #0077b6;
}

body {
    margin: 0;
    font-family: Arial, sans-serif;
    color: var(--text-color);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;

    /* Baggrundsmønster */
    background-image: 
        radial-gradient(circle, rgba(40, 167, 69, 0.5) 2px, transparent 2px),
        radial-gradient(circle, rgba(0, 119, 182, 0.5) 2px, transparent 2px),
        linear-gradient(to right, rgba(155, 81, 224, 0.15) 1px, transparent 1px),
        linear-gradient(to bottom, rgba(239, 87, 119, 0.15) 1px, transparent 1px);
    background-size: 80px 80px, 100px 100px, 120px 120px, 120px 120px;
    background-position: center;
    transition: background-position 0.1s ease;
}

header {
    text-align: center;
    margin-bottom: 20px;
}

h1 {
    color: var(--accent-color);
    font-size: 2.5em;
    margin-bottom: 10px;
}

p {
    font-size: 1.2em;
}

main {
    width: 90%;
    max-width: 600px;
    text-align: center;
}

.link-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.link-box {
    display: block;
    background-color: var(--accent-color);
    color: white;
    padding: 20px;
    border-radius: 8px;
    text-decoration: none;
    transition: transform 0.3s ease, background-color 0.3s ease;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.link-box:hover {
    transform: scale(1.05);
    background-color: var(--hover-bg-color);
}

.link-box h2 {
    margin: 0;
    font-size: 1.5em;
}

.link-box p {
    margin-top: 10px;
    font-size: 1em;
}
