:root {
    --main-bg-color: #f8f9fa;
    --text-color: #333;
    --accent-color: #28a745;
    --hover-bg-color: #0077b6;
}

body {
    margin: 0;
    font-family: Arial, sans-serif;
    color: var(--text-color);
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
    background-image: 
        radial-gradient(circle, rgba(40, 167, 69, 0.5) 2px, transparent 2px),
        radial-gradient(circle, rgba(0, 119, 182, 0.5) 2px, transparent 2px),
        linear-gradient(to right, rgba(155, 81, 224, 0.15) 1px, transparent 1px),
        linear-gradient(to bottom, rgba(239, 87, 119, 0.15) 1px, transparent 1px);
    background-size: 80px 80px, 100px 100px, 120px 120px, 120px 120px;
    background-position: center;
    text-align: center;
    padding: 20px;
}

header {
    margin-bottom: 30px;
}

h1 {
    color: var(--accent-color);
    font-size: 3em;
}

p {
    font-size: 1.5em;
    margin-bottom: 40px;
}

.button-container {
    display: flex;
    flex-direction: column;
    gap: 30px;
    align-items: center;
}

.nav-button {
    background-color: var(--accent-color);
    color: white;
    text-decoration: none;
    padding: 25px 40px;
    border-radius: 10px;
    font-size: 1.8em;
    font-weight: bold;
    transition: all 0.3s ease;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
    width: 80%; /* Gør knapperne brede */
    max-width: 600px; /* Maksimal bredde */
    text-align: center;
}

.nav-button:hover {
    background-color: var(--hover-bg-color);
    transform: translateY(-5px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.4);
}
